<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--input data-->
    <add key="path" value="./DataExample.txt"/>
    <!--input data-->
    <!--skip template-->
    <add key="skipTemplate" value="#"/>
    <!--skip template-->
  </appSettings>
</configuration>